* {
  margin: 0;
  padding: 0;
}
:root {
  --dark-button: #363636;
  --red-button: #c93333;
  --dark-text: #000;
  --bright-text: #fff;
  --background: #d9d9d9;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
}
.header {
  color: var(--bright-text);
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  margin: 30px auto;
}
.nav-bar {
  background-color: var(--dark-button);
  padding: 5px 30px;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
}
.nav-bar ul li a {
  color: var(--bright-text);
  text-decoration: none;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
}
.nav-bar ul li {
  padding: 3px;
  margin-right: 10px;
  cursor: pointer;
}
.nav-bar ul li:first-child {
  padding-right: 20px;
  font-size: 1.3rem;
}
.nav-bar ul li:first-child:hover {
  font-size: 1.4rem;
}
.nav-bar ul li:hover {
  font-size: 1.1rem;
}
.page-footer {
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--dark-button);
  color: var(--bright-text);
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding:0px 30px 30px;
}
